# 연관 단어 찾기

In [1]:
import nltk

In [2]:
nltk.download('popular')

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\sundooedu\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [20]:
from nltk.text import Text

In [49]:
text = Text("""Python was conceived in the late 1980s[34] by Guido van Rossum at Centrum Wiskunde & Informatica (CWI) in the Netherlands as a successor to the ABC language (itself inspired by SETL),[35] capable of exception handling and interfacing with the Amoeba operating system.[8] Its implementation began in December 1989.[36] Van Rossum shouldered sole responsibility for the project, as the lead developer, until 12 July 2018, when he announced his "permanent vacation" from his responsibilities as Python's Benevolent Dictator For Life, a title the Python community bestowed upon him to reflect his long-term commitment as the project's chief decision-maker.[37] He now shares his leadership as a member of a five-person steering council.[38][39][40] In January 2019, active Python core developers elected Brett Cannon, Nick Coghlan, Barry Warsaw, Carol Willing and Van Rossum to a five-member "Steering Council" to lead the project.[41]

Python 2.0 was released on 16 October 2000 with many major new features, including a cycle-detecting garbage collector and support for Unicode.[42]

Python 3.0 was released on 3 December 2008. It was a major revision of the language that is not completely backward-compatible.[43] Many of its major features were backported to Python 2.6.x[44] and 2.7.x version series. Releases of Python 3 include the 2to3 utility, which automates (at least partially) the translation of Python 2 code to Python 3.[45]

Python 2.7's end-of-life date was initially set at 2015 then postponed to 2020 out of concern that a large body of existing code could not easily be forward-ported to Python 3.[46][47]""")
text.collocation_list()

[]

# 네이버에서 주식데이터 가져오기

In [7]:
url = 'http://finance.naver.com/item/sise_day.nhn?code=005930&page=1'
url

'http://finance.naver.com/item/sise_day.nhn?code=005930&page=1'

In [35]:
import pandas as pd
a = pd.read_html(url, 
                 header=None,
                 na_values=0)[0]
a

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2020.02.07  60200.0   900.0  61100.0  61200.0  60000.0   9484580.0
2   2020.02.06  61100.0  1600.0  60100.0  61100.0  59700.0  14727159.0
3   2020.02.05  59500.0   600.0  60000.0  60200.0  58900.0  19278165.0
4   2020.02.04  58900.0  1700.0  57100.0  59000.0  56800.0  21800192.0
5   2020.02.03  57200.0   800.0  55500.0  57400.0  55200.0  23995260.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2020.01.31  56400.0   800.0  57800.0  58400.0  56400.0  19749457.0
10  2020.01.30  57200.0  1900.0  58800.0  58800.0  56800.0  20821939.0
11  2020.01.29  59100.0   300.0  59100.0  59700.0  58800.0  16446102.0
12  2020.01.28  58800.0  2000.0  59400.0  59400.0  58300.0  23664541.0
13  2020.01.23  60800.0  1500.0  61800.0  61800.0  60700.0  14916555.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [36]:
a.dropna(inplace=True)
a

            날짜       종가     전일비       시가       고가       저가         거래량
1   2020.02.07  60200.0   900.0  61100.0  61200.0  60000.0   9484580.0
2   2020.02.06  61100.0  1600.0  60100.0  61100.0  59700.0  14727159.0
3   2020.02.05  59500.0   600.0  60000.0  60200.0  58900.0  19278165.0
4   2020.02.04  58900.0  1700.0  57100.0  59000.0  56800.0  21800192.0
5   2020.02.03  57200.0   800.0  55500.0  57400.0  55200.0  23995260.0
9   2020.01.31  56400.0   800.0  57800.0  58400.0  56400.0  19749457.0
10  2020.01.30  57200.0  1900.0  58800.0  58800.0  56800.0  20821939.0
11  2020.01.29  59100.0   300.0  59100.0  59700.0  58800.0  16446102.0
12  2020.01.28  58800.0  2000.0  59400.0  59400.0  58300.0  23664541.0
13  2020.01.23  60800.0  1500.0  61800.0  61800.0  60700.0  14916555.0

In [38]:
a.reset_index(inplace=True)
a.drop('index',axis=1, inplace=True)
a

   level_0          날짜       종가     전일비       시가       고가       저가         거래량
0        0  2020.02.07  60200.0   900.0  61100.0  61200.0  60000.0   9484580.0
1        1  2020.02.06  61100.0  1600.0  60100.0  61100.0  59700.0  14727159.0
2        2  2020.02.05  59500.0   600.0  60000.0  60200.0  58900.0  19278165.0
3        3  2020.02.04  58900.0  1700.0  57100.0  59000.0  56800.0  21800192.0
4        4  2020.02.03  57200.0   800.0  55500.0  57400.0  55200.0  23995260.0
5        5  2020.01.31  56400.0   800.0  57800.0  58400.0  56400.0  19749457.0
6        6  2020.01.30  57200.0  1900.0  58800.0  58800.0  56800.0  20821939.0
7        7  2020.01.29  59100.0   300.0  59100.0  59700.0  58800.0  16446102.0
8        8  2020.01.28  58800.0  2000.0  59400.0  59400.0  58300.0  23664541.0
9        9  2020.01.23  60800.0  1500.0  61800.0  61800.0  60700.0  14916555.0

In [41]:
a.sort_values(by='날짜',ascending=True)

   level_0          날짜       종가     전일비       시가       고가       저가         거래량
9        9  2020.01.23  60800.0  1500.0  61800.0  61800.0  60700.0  14916555.0
8        8  2020.01.28  58800.0  2000.0  59400.0  59400.0  58300.0  23664541.0
7        7  2020.01.29  59100.0   300.0  59100.0  59700.0  58800.0  16446102.0
6        6  2020.01.30  57200.0  1900.0  58800.0  58800.0  56800.0  20821939.0
5        5  2020.01.31  56400.0   800.0  57800.0  58400.0  56400.0  19749457.0
4        4  2020.02.03  57200.0   800.0  55500.0  57400.0  55200.0  23995260.0
3        3  2020.02.04  58900.0  1700.0  57100.0  59000.0  56800.0  21800192.0
2        2  2020.02.05  59500.0   600.0  60000.0  60200.0  58900.0  19278165.0
1        1  2020.02.06  61100.0  1600.0  60100.0  61100.0  59700.0  14727159.0
0        0  2020.02.07  60200.0   900.0  61100.0  61200.0  60000.0   9484580.0