In [1]:
import pandas as pd
import numpy as np


# 기후 정보
climate=pd.read_csv('../oniondata/adjusted_climate.csv')

In [2]:
#대기 정보
air = pd.read_csv('../oniondata/preprocessed_air_merged.csv', encoding='utf-8')
air = air.iloc[:,1:]
air

,year_local,area,year,7월 일산화탄소,8월 일산화탄소,9월 일산화탄소,10월 일산화탄소,11월 일산화탄소,12월 일산화탄소,1월 일산화탄소,...,9월 아황산가스,10월 아황산가스,11월 아황산가스,12월 아황산가스,1월 아황산가스,2월 아황산가스,3월 아황산가스,4월 아황산가스,5월 아황산가스,6월 아황산가스
0,2010_부산광역시,부산광역시,2010,0.333333,0.3,0.333333,0.4,0.466667,0.466667,0.5,...,0.005333,0.005333,0.006333,0.006333,0.006,0.005,0.004,0.005,0.005,0.006
1,2011_부산광역시,부산광역시,2011,0.300000,0.3,0.300000,0.4,0.500000,0.500000,0.4,...,0.005000,0.005000,0.007000,0.007000,0.006,0.008,0.007,0.006,0.006,0.007
2,2012_부산광역시,부산광역시,2012,0.300000,0.3,0.300000,0.4,0.400000,0.400000,0.4,...,0.005000,0.005000,0.006000,0.006000,0.008,0.006,0.005,0.006,0.007,0.006
3,2013_부산광역시,부산광역시,2013,0.400000,0.3,0.400000,0.4,0.500000,0.500000,0.5,...,0.006000,0.006000,0.006000,0.006000,0.008,0.007,0.008,0.006,0.008,0.008
4,2014_부산광역시,부산광역시,2014,0.300000,0.4,0.400000,0.4,0.400000,0.400000,0.5,...,0.007000,0.006000,0.006000,0.007000,0.008,0.006,0.007,0.008,0.007,0.007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2015_제주도,제주도,2015,0.300000,0.4,0.300000,0.2,0.300000,0.300000,0.3,...,0.002000,0.002000,0.002000,0.003000,0.002,0.002,0.003,0.004,0.005,0.003
146,2016_제주도,제주도,2016,0.300000,0.4,0.300000,0.3,0.400000,0.400000,0.4,...,0.003000,0.003000,0.002000,0.002000,0.004,0.002,0.003,0.004,0.004,0.004
147,2017_제주도,제주도,2017,0.400000,0.3,0.300000,0.3,0.300000,0.300000,0.3,...,0.002000,0.002000,0.003000,0.003000,0.002,0.002,0.002,0.003,0.003,0.003
148,2018_제주도,제주도,2018,0.300000,0.4,0.300000,0.2,0.200000,0.300000,0.3,...,0.002000,0.001000,0.001000,0.001000,0.002,0.003,0.003,0.003,0.003,0.003
149,2019_제주도,제주도,2019,0.200000,0.2,0.200000,0.2,0.300000,0.300000,0.4,...,0.002000,0.002000,0.002000,0.002000,0.002,0.002,0.002,0.003,0.003,0.002

In [3]:
#토양 
soil = pd.read_csv('../oniondata/soil_final_for_merge.csv', encoding='utf-8')
soil

,year_local,6가크롬 Cr6+,구리 Cu,납 Pb,니켈 Ni,불소 F,비소 As,수소이온농도 pH,수은 Hg,시안 CN,아연 Zn,유기인,유류,카드뮴 Cd,테트라클로로에틸렌 PCE,트리클로로에틸렌 TCE,페놀류,폴리클로리네이티드비페닐 PCB,year,area
0,2009_강원도,0.016639,1.825236,3.565746,4.720800,0.0,0.222551,3.441000,0.020646,0.001873,28.360540,0.000000,0.0,0.035018,0.0,0.0,0.0,0.0,2009,강원도
1,2009_경기도,0.015500,1.512000,3.172500,4.004000,0.0,0.182500,3.000000,0.018000,0.001500,24.922500,0.000000,0.0,0.568000,0.0,0.0,0.0,0.0,2009,경기도
2,2009_경상남도,0.022662,18.159914,5.588024,8.359585,0.0,0.424772,5.694000,0.034164,0.003748,45.965821,0.000000,0.0,1.082569,0.0,0.0,0.0,0.0,2009,경상남도
3,2009_경상북도,0.020724,16.132480,4.932260,7.175109,0.0,4.347152,4.962000,0.029772,0.003136,40.249795,0.000000,0.0,0.942747,0.0,0.0,0.0,0.0,2009,경상북도
4,2009_광주광역시,0.018141,15.197822,4.720857,7.344918,0.0,4.302321,4.899000,0.027224,0.003406,39.279739,0.000000,0.0,0.932324,0.0,0.0,0.0,0.0,2009,광주광역시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2019_전라남도,0.107863,12.889843,12.115182,8.577768,0.0,3.246215,3.619662,0.016882,0.000276,47.562076,0.001030,0.0,0.078445,0.0,0.0,0.0,0.0,2019,전라남도
155,2019_전라북도,0.122801,14.966850,14.099156,10.432290,0.0,3.896980,4.324975,0.022414,0.000440,55.523349,0.001703,0.0,0.093522,0.0,0.0,0.0,0.0,2019,전라북도
156,2019_제주도,0.082600,11.610600,10.302700,7.305400,0.0,2.852100,3.188400,0.016500,0.000000,43.546500,0.000800,0.0,0.068800,0.0,0.0,0.0,0.0,2019,제주도
157,2019_충청남도,0.108467,12.319182,11.090966,8.247465,0.0,3.079247,3.434593,0.017813,0.000156,45.566665,0.000976,0.0,0.074707,0.0,0.0,0.0,0.0,2019,충청남도
158,2019_충청북도,0.106384,11.968934,10.808816,7.793276,0.0,2.990773,3.328684,0.017330,0.000063,44.191714,0.001906,0.0,0.073165,0.0,0.0,0.0,0.0,2019,충청북도

In [4]:
# delete column with all 0 values
soil.drop(['시안 CN'], axis=1, inplace=True)
soil.drop(['불소 F'], axis=1, inplace=True)
soil.drop(['유기인'], axis=1, inplace=True)
soil.drop(['유류'], axis=1, inplace=True)
soil.drop(['테트라클로로에틸렌 PCE'], axis=1, inplace=True)
soil.drop(['트리클로로에틸렌 TCE'], axis=1, inplace=True)
soil.drop(['페놀류'], axis=1, inplace=True)
soil.drop(['폴리클로리네이티드비페닐 PCB'], axis=1, inplace=True)
soil

,year_local,6가크롬 Cr6+,구리 Cu,납 Pb,니켈 Ni,비소 As,수소이온농도 pH,수은 Hg,아연 Zn,카드뮴 Cd,year,area
0,2009_강원도,0.016639,1.825236,3.565746,4.720800,0.222551,3.441000,0.020646,28.360540,0.035018,2009,강원도
1,2009_경기도,0.015500,1.512000,3.172500,4.004000,0.182500,3.000000,0.018000,24.922500,0.568000,2009,경기도
2,2009_경상남도,0.022662,18.159914,5.588024,8.359585,0.424772,5.694000,0.034164,45.965821,1.082569,2009,경상남도
3,2009_경상북도,0.020724,16.132480,4.932260,7.175109,4.347152,4.962000,0.029772,40.249795,0.942747,2009,경상북도
4,2009_광주광역시,0.018141,15.197822,4.720857,7.344918,4.302321,4.899000,0.027224,39.279739,0.932324,2009,광주광역시
...,...,...,...,...,...,...,...,...,...,...,...,...
154,2019_전라남도,0.107863,12.889843,12.115182,8.577768,3.246215,3.619662,0.016882,47.562076,0.078445,2019,전라남도
155,2019_전라북도,0.122801,14.966850,14.099156,10.432290,3.896980,4.324975,0.022414,55.523349,0.093522,2019,전라북도
156,2019_제주도,0.082600,11.610600,10.302700,7.305400,2.852100,3.188400,0.016500,43.546500,0.068800,2019,제주도
157,2019_충청남도,0.108467,12.319182,11.090966,8.247465,3.079247,3.434593,0.017813,45.566665,0.074707,2019,충청남도
158,2019_충청북도,0.106384,11.968934,10.808816,7.793276,2.990773,3.328684,0.017330,44.191714,0.073165,2019,충청북도

In [5]:
onion_unit=pd.read_csv('../oniondata/onion_unit_output.csv',encoding='utf-8')
onion_unit['10a당 생산량 (kg)'].replace('-',np.nan, inplace=True)
onion_unit.dropna(axis=0,inplace=True)
onion_unit

     year_local   area  year 10a당 생산량 (kg)
2    1983_부산광역시  부산광역시  1983          3800
4    1985_부산광역시  부산광역시  1985          4093
6    1987_부산광역시  부산광역시  1987          4339
7    1988_부산광역시  부산광역시  1988          5033
8    1989_부산광역시  부산광역시  1989          5099
..          ...    ...   ...           ...
580    2015_제주도    제주도  2015          6552
581    2016_제주도    제주도  2016          6458
582    2017_제주도    제주도  2017          6945
583    2018_제주도    제주도  2018          6740
584    2019_제주도    제주도  2019          7875

[515 rows x 4 columns]

In [6]:
element_list = [climate, air, soil]
element=onion_unit
for elem in element_list:
    element=pd.merge(element,
                     elem,
                     on=['year_local','area','year'])
element

,year_local,area,year,10a당 생산량 (kg),평균기온 7월,평균기온 8월,평균기온 9월,평균기온 10월,평균기온 11월,평균기온 12월,...,6월 아황산가스,6가크롬 Cr6+,구리 Cu,납 Pb,니켈 Ni,비소 As,수소이온농도 pH,수은 Hg,아연 Zn,카드뮴 Cd
0,2010_부산광역시,부산광역시,2010,7163,23.338710,24.974194,22.696667,18.777419,11.066667,5.390323,...,0.006,0.26250,11.283000,15.933500,8.850500,3.274000,3.044500,0.016500,36.433500,0.644500
1,2011_부산광역시,부산광역시,2011,7393,25.225806,27.877419,24.143333,18.245161,11.280000,5.177419,...,0.007,0.26250,9.805500,12.074500,7.564500,2.942000,3.077000,0.020500,40.263000,0.423500
2,2012_부산광역시,부산광역시,2012,6303,25.083871,25.783871,23.286667,17.570968,14.080000,4.429032,...,0.006,0.03655,11.999207,12.884742,7.380313,3.283696,3.314846,0.014766,37.487552,0.083297
3,2013_부산광역시,부산광역시,2013,8265,25.525806,27.519355,22.160000,17.777419,10.106667,2.929032,...,0.008,0.04650,11.723000,10.608000,7.665000,3.269500,3.149500,0.013500,39.935000,0.070000
4,2014_부산광역시,부산광역시,2014,7271,26.080645,27.961290,23.683333,18.941935,10.900000,5.435484,...,0.007,0.08350,9.375500,11.165000,8.787500,3.269500,3.224500,0.016500,41.049500,0.068000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2014_제주도,제주도,2014,7220,20.651220,21.475000,18.195833,14.800000,10.260870,6.157258,...,0.003,0.11150,9.375500,10.639500,6.239000,2.824000,3.224500,0.010500,39.956000,0.068000
140,2015_제주도,제주도,2015,6552,18.645161,18.758065,17.715000,14.670732,10.738333,5.523387,...,0.003,0.07400,11.724500,11.046500,6.239000,2.862000,3.263000,0.027000,47.105500,0.084000
141,2016_제주도,제주도,2016,6458,18.095902,18.799194,15.954167,14.166129,11.287500,7.399194,...,0.004,0.07200,12.352000,9.861000,8.147000,2.749000,3.126000,0.009500,47.105500,0.078000
142,2017_제주도,제주도,2017,6945,25.326804,27.969892,23.692222,20.630952,13.033333,9.794624,...,0.003,0.07200,12.878000,8.801500,7.114500,2.556000,3.179000,0.019000,42.516000,0.044000
143,2019_제주도,제주도,2019,7875,25.447312,28.087097,23.584444,17.760215,14.137778,9.384848,...,0.002,0.08260,11.610600,10.302700,7.305400,2.852100,3.188400,0.016500,43.546500,0.068800

In [7]:
element.to_csv('../oniondata/onion_columns_all_merge_final.csv', 
               index=False, 
               encoding='utf-8')

In [8]:
a = pd.DataFrame(element.isna().sum())

In [9]:
a[a[0] != 0 ]

Empty DataFrame
Columns: [0]
Index: []